@import "tailwindcss";

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius: 0.625rem;

  --color-C90: #750846;
  --color-C80: #D23E73;
  --color-C10: #eccfd9ff;
  --color-G10: #e7e7e7ff;
  --color-G50: #666666;
  --color-G90: #333333;
  --color-V10: #5CD162;
  --color-R10: #EE5D5D;
  --color-Y10: #FFD036;

  --color-background: var(--color-G10);
  --color-foreground: var(--color-G90);
  --color-ring: var(--color-C90);
}

@layer base {
  :root {
    --background: var(--color-G10);
    --foreground: var(--color-G90);
    --card: var(--color-G10);
    --card-foreground: var(--color-G90);
    --muted: var(--color-G10);
    --muted-foreground: var(--color-G50);
  }
}


@layer base {
  * {
    border-color: var(--color-border);
    outline-color: color-mix(in oklch, var(--color-ring) 50%, transparent);
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Nunito Sans", sans-serif; /* Fuente base */
  }
}


@layer base {
  textarea,
  select {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }

  /* Desactiva ring y focus por defecto */
  input:focus,
  textarea:focus,
  select:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
}


@layer utilities {
  /* Background */
  .bg-C90 { background-color: var(--color-C90); }
  .bg-C80 { background-color: var(--color-C80); }
  .bg-C10 { background-color: var(--color-C10); }
  .bg-G10 { background-color: var(--color-G10); }
  .bg-G50 { background-color: var(--color-G50); }
  .bg-G90 { background-color: var(--color-G90); }
  .bg-V10 { background-color: var(--color-V10); }
  .bg-R10 { background-color: var(--color-R10); }
  .bg-Y10 { background-color: var(--color-Y10); }

  /* Text */
  .text-C90 { color: var(--color-C90); }
  .text-C80 { color: var(--color-C80); }
  .text-C10 { color: var(--color-C10); }
  .text-G10 { color: var(--color-G10); }
  .text-G50 { color: var(--color-G50); }
  .text-G90 { color: var(--color-G90); }
  .text-V10 { color: var(--color-V10); }
  .text-R10 { color: var(--color-R10); }
  .text-Y10 { color: var(--color-Y10); }

  .bg-background { background-color: var(--color-background); }
  .text-foreground { color: var(--color-foreground); }
  .border-border { border-color: var(--color-border); }
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #292929;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  border-radius: 50px;
  transition: ease-in-out 0.5s all;
}

::-webkit-scrollbar-thumb:hover {
  background: #313131;
  border-radius: 50px;
}
